@using HotelsManage.Enum

@if (Status == null)
{
    <span></span>
}
else
{
    switch (Status.Value)
    {
        case DepositStatus.Pay:
            <MudChip Label="true" Color="Color.Success">已支付</MudChip>
            break;
        case DepositStatus.NotCharged:
            <MudChip Label="true" Color="Color.Info">未收取</MudChip>
            break;
        case DepositStatus.Returned:
            <MudChip Label="true" Color="Color.Warning">已退还</MudChip>
            break;
        case DepositStatus.Unreturned:
            <MudChip Label="true" Color="Color.Error">未退还</MudChip>
            break;
    }
}

@code {

    [Parameter]
    public DepositStatus? Status { get; set; }

}