@using HotelsManage.Enum

@if (Status == null)
{
    <span></span>
}
else
{
    switch (Status.Value)
    {
        case RoomStatus.Empty:
            <MudChip Label="true" Color="Color.Success">空房</MudChip>
            break;
        case RoomStatus.CheckIn:
            <MudChip Label="true" Color="Color.Info">入住</MudChip>
            break;
        case RoomStatus.Reservation:
            <MudChip Label="true" Color="Color.Warning">预定</MudChip>
            break;
    }
}

@code {

    [Parameter]
    public RoomStatus? Status { get; set; }

}